<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-searchbar *ngIf="source" #ionSearchbar [(ngModel)]="search_item" placeholder="" clear-icon
                 (ionChange)="setFilteredItems($event, source)"></ion-searchbar>
  <ion-button expand="block" color="warning" (click)="close('')">Cancelar Busqueda</ion-button>
  <ion-item-divider></ion-item-divider>
  <div align="center">
    <ion-list *ngFor="let i of filtered_items">

      <ion-item>
        <ion-label>{{i.data.codigo}}</ion-label>
        <ion-label>{{i.data.nombre}}</ion-label>
        <ion-button (click)="close(i)" color="secondary"><ion-icon name="checkmark"></ion-icon> </ion-button>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
