<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <h1 style="text-align: center">Pedidos Activos</h1>

    <ion-item  *ngFor="let p of pedidos | async" >
      <ion-card color="warning" style="width: 80%">
       <ion-label style="text-align: center;background-color: #6b45bc;" >{{p.estado}}</ion-label>
        <ion-card-header>
          <ion-card-title>{{p.nombre_producto}}</ion-card-title>
          <p>Numero de pedido: {{p.numero_pedido}}</p>
        </ion-card-header>
        <ion-card-content>
          <h2>Cantidad: {{p.cantidad}}</h2>
          <p>Total :{{p.total}}</p>
          <ion-button color="success" expand="block" (click)="enCamino(p)"  >En camino &nbsp;  <ion-icon name="bicycle"> </ion-icon> </ion-button>
          <ion-button color="success" expand="block" (click)="entregado(p)" >Entregado &nbsp;  <ion-icon name="checkmark-done-outline"></ion-icon></ion-button>

        </ion-card-content>

      </ion-card>
    </ion-item>

  </ion-content>
