<ion-app>
  <ion-menu manuId="main-manu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/avatar3.png" alt="">
        <ion-label>
          <h2>Welcome User.</h2>
          <p>user@gmail.com</p>
        </ion-label>
      </div>

      <div class="action-button">
        <ion-button>
          <ion-icon name="log-out-outline"></ion-icon>Log Out
        </ion-button>
      </div>


      <ion-list  lines="none" class="menu items">
        <ion-item>
          <ion-icon (click)="dashboard()" name="pie-chart-outline"></ion-icon> DashBoard
        </ion-item>
        <br>
        <ion-item>
          <ion-icon (click)="clientes()"  name="people-circle-outline"></ion-icon> Clientes
        </ion-item>
        <br>
        <ion-item>
          <ion-icon  name="bag-handle-outline"></ion-icon> Productos
        </ion-item>
        <br>
        <ion-item>
          <ion-icon  name="bag-add-outline"></ion-icon> Agregar Producto
        </ion-item>
        <br>
        <ion-item (click)="facturas()">
          <ion-icon  name="clipboard-outline"></ion-icon> Facturas
        </ion-item>

      </ion-list>

      <div class="contact-us">

      </div>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
