<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CLIENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Cliente por nombre o codigo" showcancelbutton=""(ionInput)="filterList($event)"></ion-searchbar>
  <ion-item-divider>Mis Clientes:</ion-item-divider>
  <ion-list lines="none">
    <ion-item *ngFor="let cliente of Personas">
      <ion-label class="ion-text-wrap">
        <img src="assets/avatar.png" style="height: 20%; width: 20%;margin-left: 40%;">
        <ion-text color="primary">
          <h3>{{ cliente.Nombres }}</h3>
        </ion-text>
        <p><strong>Codigo :</strong>{{ cliente.Codigo }}</p>
        <p><strong>Stock : </strong>{{cliente.Correo}}</p>
        <ion-button (click)="editarContacto(cliente)"color="primary" expand="block" >Edit </ion-button>
        <ion-button  (click)="borrarContacto(cliente)"  color="warning" expand="block" >Delete</ion-button>
        <ion-item-divider></ion-item-divider>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
  <!--<ion-searchbar placeholder="Buscar cliente por nombre o codigo" showcancelbutton=""(ionInput)="filterList($event)"></ion-searchbar>
  <ion-list >
    <ion-item  *ngFor="let p of Personas ">
      <ion-card color="light">
          <img src="assets/avatar.png" style="height: 20%; width: 20%">
        <ion-card-header>
          <ion-card-title>{{p.Nombres}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>{{p.Codigo}}</h2>
          <p>{{p.Correo}}</p>
        </ion-card-content>
      <ion-button  (click)="editarContacto(p)"  color="primary" expand="block" >Edit Contact</ion-button>
        <ion-button  (click)="borrarContacto(p)"  color="warning" expand="block" >Delete Contact</ion-button>
      </ion-card>
    </ion-item>

  </ion-list>-->

